html{
  overflow-x:hidden;
}
body{
  background-color: #232121;
}
.jumbotron{
  background-color:black;
  color: white;
}
.page-header{
margin-top: -5px;
width: 2000px;
}
.container{
color: white;
}
h6.date{
  color: gray;
}
h1.maps{
  opacity: 10;
  color: white;
  font-size: 200%;
}
h1.text{
  font-size: 850%;
  text-align: center;
}
h1.text2{
  font-size: 200%;
  text-align: center;
}
button.header{
  height: 50px;
  border: none;
  width: 150px;
  background-color: black;
  color: white;
  font-size: 150%;
}
button.header:hover{
background-color: #BD2715;
}
input[type=image].ops{
  height: 100px;
  width: 100px;
  border: none;
}
input[type=image].ops:hover{
  height: 120px;
  width: 120px;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}
h3{
  text-align: left;
}
div.map{
}
div.title{
  margin-top: -20px;
}
button.locatie_2{
  line-height: 0px;
}
button.buttons{
  height: 50px;
  border: 1px solid #60287A;
  width: 150px;
  background-color: black;
  color: white;
  font-size: 150%;
}
button.buttons:hover{
background-color: #60287A;
}
button.inlog{
  background: none;
  border: none;
  font-size: 170%;
}
button.inlog:hover{
  font-size: 190%;
}
div.hoek{
  height: 40px;
  width: 250px;
  margin-top: 30px;
  position:sticky;
  z-index: 1;
  border-radius: 0px 0px 10px 0px;
  color: White;
  background-color:#353232;
}
div.season{
  margin-left: -800px;
  margin-top: 30px;
  position:sticky;
  z-index: 1;
  color: White;
}
div.text_loc{
  margin-top: -250px;
  margin-left: 600px;
}
div.pic{
  margin-top: -39px;
  margin-left: -300px;
}
div.next{
  margin-left: 500px;
}
div.links{
  margin-left: -400px;
}
div.rechts{
  margin-top: -50px;
  margin-left: 400px;
}
div.border{
  margin-left: 100px;
  margin-top: -10px;
  width: 300px;
  height: 430px;
}
div.mijnheader{
  background-color: black;
  height: 50px;
  background-color: black;
  height: 50px;
  width: 1800px;
}
div.grijs{
  position: static;
  background-color:#2A2322;
  height: 40px;
  width: 2000px;
}
div.zwart{
  margin-left: 0px;
  position: absolute;
  bottom: -4200px;
  background-color: black;
  color: white;
  height: 300px;
  width: 2000px;
}
div.zwart2{
  margin-left: -400px;
  position: absolute;
  bottom: -3600px;
  background-color: black;
  color: white;
  height: 300px;
  width: 2000px;
}
div.locatie{
margin-left: 50px;
}
div.copy{
margin-left: 250px;
}
div.copy2{
margin-left: 400px;
}
