html{
  overflow-x:hidden;
}
body {
font-family: 'Open Sans', sans-serif;
}
.page-header{
margin-top: -5px;
width: 2000px;
}
.container{
color: white;
}
h1.groot{
  font-size: 550%;
  color: white;
}
h6.date{
  color: gray;
}
button.header{
  height: 50px;
  border: none;
  width: 150px;
  background-color: black;
  color: white;
  font-size: 150%;
}
button.header:hover{
background-color: #60287A;
}
button.buttons{
  height: 50px;
  border: 1px solid #60287A;
  width: 150px;
  background-color: black;
  color: white;
  font-size: 150%;
}
button.buttons:hover{
background-color: #60287A;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}
div.skin{
  height: 390px;
  width: 300px;
  border: 1px solid white;
  background-color: #232121;
  color: white;
  margin-left: 1500px;
}
.skin:hover{
  border:none;
}
div.next{
  text-align: center;
}
div.title{
  margin-top: -70px;
  margin-left: 120px;
}
button.locatie_2{
  line-height: 0px;
}
div.links{
  margin-left: -800px;
}
div.rechts{
  margin-top: -50px;
  margin-left: 400px;
}
div.locatie_news{
  margin-left: 450px;
}
div.info{
  text-align: center;
  margin-top: -400px;
}
div.hoek{
  height: 60px;
  width: 200px;
  margin-top: -20px;
  border-radius: 0px 0px 10px 0px;
  color: White;
  background-color:#60287A;
}
div.border{
  margin-left: 1050px;
  margin-top: -10px;
  text-align: center;
  width: 300px;
  height: 430px;
}
div.news{
  background: #232121;
  color: white;
  margin-left:;
  margin-top:;
  text-align: center;
  border: 1px solid White;
  border-radius: 0px 15px 15px 15px;
  width: 800px;
  height: 150px;
}
div.mijnheader{
  background-color: black;
  height: 50px;
}
div.mijnheader{
  background-color: black;
  height: 50px;
  width: 1800px;
}
div.grijs{
  position: static;
  background-color: #2A2929;
  height: 40px;
  width: 2000px;
}
div.zwart{
  margin-left: 0px;
  position: absolute;
  bottom: -1200px;
  background-color: black;
  color: white;
  height: 300px;
  width: 2000px;
}

div.copy{
margin-left: 250px;
}
