html{
  overflow-x:hidden;
}
body {
font-family: 'Open Sans', sans-serif;
}
.jumbotron{
  background-color:black;
  color: white;
}


.page-header{
margin-top: -5px;
width: 2000px;
}
.container{
color: white;
}
h6.date{
  color: gray;
}
button.header{
  height: 50px;
  border: none;
  width: 150px;
  background-color: black;
  color: white;
  font-size: 150%;
}
button.header:hover{
background-color: #F31928;
}
input[type=image].ops{
  height: 100px;
  width: 100px;
  border: none;
}
input[type=image].ops:hover{
  height: 120px;
  width: 120px;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}
div.title{
  margin-top: -20px;
}
button.locatie_2{
  line-height: 0px;
}
div.locatie_news{
  margin-top: -365px;
  margin-left: 600px;
}
div.buttons{
  margin-left: -3000px;
}
div.update{
  height: 30px;
  width: 100px;
  margin-top: -10px;
  border-radius: 0px 0px 10px 0px;
  color: White;
  background-color:#F31928;
}
div.border{
  margin-left: 1050px;
  margin-top: -10px;
  text-align: center;
  width: 300px;
  height: 430px;
}
div.news{
  background: black;
  color: white;
  margin-left:;
  margin-top:;
  text-align: center;
  border: 1px solid White;
  border-radius: 0px 15px 15px 15px;
  width: 400px;
  height: 100px;
}
div.mijnheader{
  background-color: black;
  height: 50px;
}
div.mijnheader{
  background-color: black;
  height: 50px;
  width: 1800px;
}
div.grijs{
  position: static;
  background-color: #2A2929;
  height: 40px;
  width: 2000px;
}
div.zwart{
  margin-left: -650px;
  margin-top: 67px;
  background-color: black;
  color: white;
  height: 300px;
  width: 2000px;
}
h1.ops{
  color: white;
  margin-left: -900px;
}
div.locatie{
margin-left: 50px;
}
div.copy{
margin-left: -250px;
}
